{% extends 'base.html' %}

{% block head %}
<title>ユーザーリスト</title>
{% endblock %}


{% block body %}
<h1>管理者（list）</h1>

<div class="container" id="wholebox">
    <!-------------------------->
    <!--ユーザーリンクのボックス-->
    <!-------------------------->
    <div class="card border-dark mb-3" style="max-width: 60rem;">
        <h5 class="card-header" style="background-color:#FF9900;">ユーザー情報</h5>
        <div class="card-body">
            {% for user in users %}{% set user_loop = loop %}
            {% for check in checks %}{% if loop.index==user_loop.index %}
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item list-group-item-secondary" style="width:7rem;"><nobr>{{user.username}}</nobr></li>
                <li class="list-group-item" style="width:60%; max-width: 15rem;">{{check}}</li>

            <!--ボックス内につけるボタン-->
                <div align="center">
                    <a role="button" href="/admin_user/{{user.id}}" class="btn btn-secondary">詳細</a>
                </div>
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </div>

</div>

{% endblock %}